*,
*::before,
*::after {
  box-sizing: border-box;
}
.navBar{
    min-width: 100vh;
    justify-content: space-between;
    padding-top: 20px;
    
}
.img_logo{
    width: 70px;
    height: 70px;
}
.caret_down{
    width: 20px;
    height: 20px;
}
.flex{
    display: flex;
}
.unstyle{
    text-decoration: none;
    color: darkblue;
    font-size: 30px;
}
.bell{
    width: 65px;
    height: 65px;
    background-color: lightgrey;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.avatar1{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
}
.profile{
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
}
.navBar1{
    justify-content: space-between;
    flex-grow: 0.5;
    align-content: center;
}
.navBar_1{
    justify-content: space-between;
    flex-grow: 0.8;
    padding-top: 20px;
}
.navBar2{
    justify-content:flex-end;
    flex-grow: 1;
    padding-right: 20px;
    
}
.hero{
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    background-color:rgb(128, 13, 235);
    display: flex;
    justify-content: center;
    align-content: center;
}
.direction_column{
    flex-direction: column;
}
.white{
    color: white;
}
.hero_1{
    justify-content: center;
}
